body{
  background-color: #FAF8F4;
}

.App {
  height: 22%;
  width: 88.23%;
  border: 3px solid #000000;
  margin: 5% auto;
  position: relative;
}

.home{
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

@font-face {
  font-family: 'Timeless';
  src: local('Timeless'), url(./assets/font/Timeless.ttf) format('truetype');
}

@font-face {
  font-family: 'Timeless-Bold';
  src: local('Timeless-Bold'), url(./assets/font/Timeless-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'coolvetica';
  src: local('coolvetica'), url(./assets/font/coolvetica.ttf) format('truetype');
}

